{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} Добавление книги {% endblock %}

{% block content %}
    <div class="container">
          <div class="row justify-content-center">
            <div class="col-8">
              <h1 class="mt-2">Добавить категорию</h1>
              <hr class="mt-0 mb-4">
                <form method="post">
                {% csrf_token %}
                {{ form.name|as_crispy_field }}
                {{ form.image|as_crispy_field }}
                <button type="submit" class="btn btn-success">Добавить</button>
                </form>
            </div>
          </div>
    </div>
{% endblock %}