{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Чат {% endblock %}

{% block content %}
    <h1>Messages</h1>
    <ul>
        {% for i in messages %}
            <li>Author: {{ i.author }}</li>
            <li>Title: {{ i.title }}</li>
            <li>Text: {{ i.text }}</li>
        {% endfor %}
    </ul>

    <div class="container">
          <div class="row justify-content-center">
            <div class="col-8">
              <h1 class="mt-2">Отправить сообщение</h1>
              <hr class="mt-0 mb-4">
                <form action="{% url 'send_message' %}" method="post">
                    {% csrf_token %}
                    {{ form.title|as_crispy_field }}
                    {{ form.text|as_crispy_field }}
                    <button type="submit">Отправить</button>
                </form>
            </div>
          </div>
    </div>
{% endblock %}
