{% extends 'base.html' %}

{% block title %}Книги{% endblock %}

{% block content %}
  <div class="list-group">
    <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
      Книги
    </button>
      {% for i in books %}
    <a href="{% url 'book_detail' i.pk %}"><button type="button" class="list-group-item list-group-item-action">{{ i.name }}</button></a>
      {% endfor %}
  </div>
  <div>
    <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
      Электронные книги
    </button>
      {% for i in filtered_books %}
    <a href="{% url 'book_detail' i.pk %}"><button type="button" class="list-group-item list-group-item-action">{{ i.name }}</button></a>
      {% endfor %}
  </div>
{% endblock %}